<!DOCTYPE html>
<html>
<title>My feed</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/feedstyle1.css">
<link rel="stylesheet" href="/assets/feedstyle2.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>

<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
#post-img{
  height: 300px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
</style>
<meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href='https://fonts.googleapis.com/css?family=tittilium' rel='stylesheet'>
         <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
         <link href='https://fonts.googleapis.com/css?family=BioRhyme' rel='stylesheet'>
         <link rel="stylesheet" href="/assets/header.css">
         <link rel="stylesheet" href="/assets/footer.css">
         <link rel="stylesheet" href="/assets/showcase.css">
        
         <link rel="stylesheet" href="/assets/webfeatures.css">
         <script defer src="/assets/javascript/index.js"></script>
         <script defer src="/assets/javascript/header.js"></script>
<body class="w3-theme-l5">

<!-- Navbar 
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Logo</a>-->
  <!--
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button">One new friend request</a>
      <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
      <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
  </a>-->
 <!--</div>
</div>-->

<!-- Navbar on small screens 
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>-->







 <!--header-->
          
 <section class="header">
  <section class="hamburgerbar">
    <i class="fa fa-bars fa-2x"></i>
   </section>
    <section class="logo-wrapper">

        <img src="/assets/Images/Logo/eknow.png" alt="Bookx.com">

    </section>

    <section class="menu-wrapper">
      <ul>
        <li ><a href="/" id="active" >Home</a></li>
        <li><a href="/"><%= username %></a></li>
        <li><a href="/"><%= userid %></a></li>
        <li><a href="/aboutus">About us</a></li>
        <li>
          <form action="/logout" method="POST" style="margin-top: -12px;">
            <button>Logout</button></form>
          </li>
          
         
    </ul>

    </section>
</section>




<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">About</h4>
         
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i><%= nameofclass %></p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>class id - <%= id %></p>
        </div>
      </div>
      <br>
      
      <!-- Accordion 
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
           <div class="w3-half">
             <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
         </div>
          </div>
        </div>      
      </div>
      <br>
      -->
      <!-- Interests 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>
      --> 
      <!-- Alert Box
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>-->
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
      
      

      <% if(typeof (data[0]) === undefined) {%>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
          <img src="/w3images/avatar5.png" alt="" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <span class="w3-right w3-opacity"></span>
          <h4>Nothing yet</h4><br>
          <hr class="w3-clear">
         
     <% }%>
      
       <% if(typeof (data[0]) !== undefined) { %>   

        <% data.forEach(function(item){ %>
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="/w3images/avatar5.png" alt="" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity"><%= item.timestamp %></span>
     <br>
     <% if(item.post_type == "text+.jpg" || item.post_type == "text+.jpeg"){ %>
     <img src="<%= item.url %>" id="post-img-xxx" style="width:100%" class="w3-margin-bottom" alt="yahi img hai" title="<%= item.file_nam %>">
     <hr class="w3-clear">
     <p><%= item.content_text %></p>
    <% } 
    else if (item.post_type == "text") { %>
      <p><%= item.content_text %></p>
<% }
    else{ %>
      <% if(item.file_nam !== null) { %>
      <a href="<%= item.url %>" style="width: auto;">Material shared - <%= item.file_nam %></a>
      <% } else { %>
        <a href="<%= item.url %>" style="width: auto;">material shared - shared document</a>
        <% } %>
      <hr class="w3-clear">
      <p><%= item.content_text %></p>
      <% } %>

        
        
        <!--<p><%= item.comment_count %></p>
        <p><%= typeof file_type ==='undefined' ? '' : file_type  %></p>-->
        
       <!-- <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>  -->
       <% if((item.comment_count)==0){ %>
       <button type="button" onclick="comment(<%= item.post_id %>)" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i> Write a comment</button>
        <% } else {  %>
        <button type="button" onclick="comment(<%= item.post_id %>)" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i> View all <%= item.comment_count %> comments</button>
        <% } %>
        <form method="POST" style="display:none ;" action="//<%= id %>" id="comment-box-<%= item.post_id %>">
          <textarea name="comment" placeholder="Write anonymous comment here" rows="5" cols="80" required></textarea>
          
            <br>
          <input type="submit" value="POST" class="w3-button w3-theme">

          <br><br>
       </form>
       
        
      </div>  
        
      <%  }); %>


      <% } %>

<!--
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">1 min</span>
        <h4>John Doe</h4><br>
        <hr class="w3-clear">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
          </div>
        </div>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
      </div>

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="/w3images/avatar6.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">32 min</span>
        <h4>Angie Jane</h4><br>
        <hr class="w3-clear">
        <p>Have you seen this?</p>
        <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
      </div> 
    -->
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <!--<p>Question Box</p>
          
          <img src="/w3images/forest.jpg" alt="" style="width:100%;">
          <p><strong></strong></p>
          <p>what is meaning of fwef</p>
          <p><button class="w3-button w3-block w3-theme-l4">Answer</button></p>-->
        </div>
      </div>
      <br>
      <!--
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Friend Request</p>
          <img src="/w3images/avatar6.png" alt="Avatar" style="width:50%"><br>
          <span>Jane Doe</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
        <p>ADS</p>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
      </div>
      -->
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
<section class="footer">
  <section class="social_links">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-twitter"></i>
  </section>
  <section class="f_info">
      <section class="f_info1">
      <h1>e-know</h1>
      <h1>About Us</h1>
      <span>Our website provides best user friendly tools for online education</span>
      <br>
      <br>
      <h1>Contact Us</h1>
      <i class="fa fa-phone" style="margin-right: 10px"></i>&nbsp;<span>+919974435875</span>
      <br>
      <i class="fa fa-envelope" style="margin-right: 10px"></i>&nbsp;<span>201912006@gmail.com</span>

      </section>
      <section class="f_info2">
      <h1>Information</h1>
      
          <a href="#">Feedback</a>
          <br>
          <a href="#">Report Bug</a>
          <br>
          <br>

          <h1>Helpful Links</h1>
      
          <a href="#">Support</a>
          <br>
          <a href="#">Terms & Conditions</a>
          <br>
          <a href="#">Privacy Policy</a>
          <br>
      </section>
      <section class="newslatter">
      <h1>Newsletter Subscription</h1>
      <input type="email" placeholder="Your E-mail Address">
      <br>
      <button onclick="subscribe()">Subscribe</button>
      </section>
  </section>
</section>
<!-- 
<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
 -->

 <!--
<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
-->

   <script>
  function comment(pid){
    //console.log("hello world");
    location.href="/comment/"+pid;
   /* let box=document.getElementById("comment-box-"+pid);
    if(box.style.display=="block")
    box.style.display="none";
    else
    box.style.display="block";*/
  }
</script>
</body>
</html> 
